<div class="container-fluid">
    <div class="row align-items-center home-banner">
        <div class="topProfile">
            <div *ngIf="traveler">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/images/{{traveler._id}}.jpg" class="card-img-top"
                        alt="{{traveler.firstName}} {{traveler.lastName}}">
                    <div class="card-body">
                        <h5 class="card-title">{{traveler.firstName}} {{traveler.lastName}}</h5>
                        <p class="card-text">{{traveler.longitude}}{{traveler.latitude}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <app-posts *ngIf="isUserProfile()"></app-posts>
    </div>
</div>