.form-disign{
    margin: auto;
    width: 40%;
    align-items: center;
  }

  .round-input-box{
    background: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
  }

  .btn-round{
    background: #00C0EB;
    border: 5px solid #00C0EB;
    color: #FFFFFF;
    border-radius: 20px;
  }